* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: montserrat;
  src: url("./assets/montserrat-regular-webfont.woff");
}
body {
  background-color: black;
  background-image: url("./assets/bluroffice2.jpg");
  background-size: cover;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.formContainer {
  background-image: url("./assets/escritorio1.jpg");
  width: 500px;
  height: 700px;
  border-radius: 5px;
  background-position: center;
  background-size: 700px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}
.formulario {
  position: relative;
  width: 45%;
  height: 50%;
  background-color: #ffffffbb;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  margin: auto;
  transform: translateY(35%);
}
#logo {
  width: 200px;
  position: absolute;
  top: 8%;
}
.miniForm {
  margin-top: 50%;
}
h2 {
  color: rgb(43, 41, 41);
  margin-bottom: 20%;
}
input {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border: 1px solid #ffffffbb;
  border-radius: 5px;
  margin-top: 10%;
}
input[type="email"] {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

input[type="submit"] {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
input[type="submit"]:hover {
  background-color: rgb(230, 227, 224);
}
